*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; // even removes styling from headings too. uses classes to style things rather than elements
}