@use "../abstracts/" as *;

.about {
    
    margin-top: -120px;
      
    &__top-section,
    &__bottom-section {
      margin-bottom: 101px;
    }
  
  
  
    &__content {
      text-align: center;
    }
  
  
    &__heading{
      font-size: 32px;
      line-height: 40px;
      position: relative;
      margin-bottom: 13px;
      
  
      &::before{
        content:"";
        background: url(/images/patterns/pattern-divide.svg);
        position: absolute;
        width: 71px;
        height: 7px;
        top: -30px;
        left: 0;
        right: 0;
        margin: 0 auto;
  }
      
      
    }
  
    &__img {     
      margin: 0 auto 88px auto;
    }
  }