@use "../abstracts/" as *;

.about {
  margin-top: -120px;
  padding: 0.5rem;
  overflow: hidden;

  &__bottom-section {
    position: relative;
  }

  &__top-section,
  &__bottom-section {
    // margin-bottom: 101px;
  }

  //  Add another div to the img element to wrap it then place the element relative to the wrapper div of the img

  &__bottom-picture {
    position: relative;
    @include mq(medium) {
      &::after {
        content: "";
        background: url(/images/patterns/pattern-lines.svg) no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 1000;
        width: 160px;
        height: 76px;
        right: 47px;
        top: 165.6px;
      }
    }
  }

  &__picture-container {
    position: relative;
    @include mq(medium) {
      &::before {
        content: "";
        background: url(/images/patterns/pattern-curve-top-left.svg) no-repeat;
        background-size: cover;
        // border: 1px solid red;
        position: absolute;
        width: 120vw;
        height: 228.2px;
        bottom: -102.5px;
        top: 177px;
        left: -573.3px;
        z-index: -1;
      }
    }
  }

  &__content {
    text-align: center;
  }

  &__text-content {
    margin-bottom: 101px;
  }

  &__heading {
    position: relative;
    margin-bottom: 13px;

    &::before {
      content: "";
      background: url(/images/patterns/pattern-divide.svg);
      position: absolute;
      width: 71px;
      height: 7px;
      top: -30px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  &__img {
    margin: 0 auto 88px auto;
  }
}

.shape-about {
  display: none;
  position: absolute;
  background-color: #f2f3f4;
  border-radius: 50px;
  z-index: -1;
  bottom: -130px;
  left: 388px;
  height: 320px;
  width: 120vw;
  @include mq(medium) {
  }
  display: block;
}
