@use "../abstracts/" as *;

.events {
  padding-top: 5rem;
  // margin-bottom: 6rem;
  overflow: hidden;

  @include mq(medium) {
    margin-bottom: 0;
  }

  @include mq(medium) {
    position: relative;
    &::after {
      content: "";
      background: url(/images/patterns/pattern-curve-top-right.svg) no-repeat;
      background-size: cover;
      position: absolute;
      height: 320px;
      top: 0;
      width: 100vw;
      left: 0;
      transform: translateX(-60%);
      z-index: -1;
    }
  }

  &__heading {
    @include mq(large) {
      text-align: left;
    }
  }

  &__description {
    margin-bottom: 27px;
    @include mq(large) {
      text-align: left;
      margin: 0;
    }
  }

  &__image-content {
    margin-bottom: 37px;
  }

  &__content {
    text-align: center;

    @include mq(large) {
      // display: flex;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      max-width: 1400px;
      margin: 0 auto;
    }
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include mq(medium) {
      flex-direction: row;
      max-width: 635.1px;
      margin: 0 auto 50px auto;
      left: 763px;
      right: 16px;
    }

    @include mq(large) {
      flex-direction: column;
      left: 639px;
      grid-column: 1/1;
      position: absolute;
      bottom: 163px;
      right: -110px;
    }
  }

  &__img {
    margin: 0 auto 56px auto;
    @include mq(large) {
      position: inherit;
      z-index: 1000;
    }
  }

  &__picture {
    @include mq(medium) {
      position: relative;
      &::after {
        content: "";
        background: url(/images/patterns/pattern-lines.svg) no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 1000;
        width: 160px;
        height: 76px;
        left: 44.9px;
        top: -35.8px;
      }
    }
  }

  &__text-content {
    margin-bottom: 6rem;
    @include mq(large) {
      display: flex;
      flex-direction: column;
      align-self: start;
      margin-top: 5rem;
      gap: 1rem;
      margin-left: 3.5rem;
    }
  }

  &__event-type-button {
    text-transform: uppercase;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: hsla(216, 14%, 42%, 0.52);
    letter-spacing: 2.5px;
    position: relative;
    font-weight: 500;
    margin: 0 auto;
    max-width: 200px;

    @include mq(large) {
      text-align: left;
      margin: 0;
      &:hover {
        color: $color-shuttle-gray;
      }
    }
  }

  &__event-type-button {
    &::after {
      border-bottom: 0;
    }
  }

  &__event-type-button.active:nth-last-of-type(2) {
    &::after {
      left: 55px;
      @include mq(large) {
        left: -171px;
      }
    }
  }

  &__event-type-button.active {
    color: $color-shuttle-gray;
    font-weight: 600;
    &::after {
      content: "";
      width: 50px;
      height: 5px;
      position: absolute;
      border-bottom: 2px solid $color-beaver;
      bottom: -10px;
      padding-bottom: 0.5rem;
      left: 69px;

      @include mq(large) {
        width: 155px;
        left: -171px;
        bottom: 9px;
      }
    }
  }
}

.shape-event {
  display: none;
  position: absolute;
  background-color: #f2f3f4;
  border-radius: 50px;
  z-index: -1;
  bottom: -140px;
  left: 388px;
  height: 320px;
  width: 120vw;
  // @include mq(medium) {
  // }
}
