@use "../abstracts/" as *;

.footer {
  background-color: $color-cod-gray;
  padding: 5rem 1rem;
  letter-spacing: 2px;

  &__right-content {
    @include mq(medium) {
      text-align: left;
    }

    @include mq(large) {
      display: flex;
      gap: 10rem;
      // border: 2px solid red;
      align-items: self-start;
      margin-right: 15rem;
    }
  }

  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1400px;
    margin: 0 auto;

    @include mq(medium) {
      flex-direction: row;
      align-self: center;
      justify-items: center;
      padding-left: 2rem;
      gap: 5rem;
    }

    @include mq(large) {
      justify-content: space-between;
      padding-left: 3rem;
    }
  }

  &__logo {
    width: 103px;
    margin: 0 auto 22px auto;
  }

  &__contact-info {
    line-height: 35px;

    @include mq(medium) {
      margin-bottom: 2rem;
    }

    @include mq(large) {
      margin-bottom: 0;
    }
  }
}
