@use "../abstracts/" as *;

// RESERVATION PAGE //
.header.res {
  background-image: image-set(
    ("/images/booking/hero-bg-mobile.jpg" 1x),
    ("/images/booking/hero-bg-mobile@2x.jpg" 2x)
  );

  @include mq(mediumres) {
    background-image: image-set(
      ("/images/booking/hero-bg-tablet.jpg" 1x),
      ("/images/booking/hero-bg-tablet@2x.jpg" 2x)
    );
    min-height: inherit;
    height: 58vh;
    background-size: cover;
  }

  @include mq(large) {
    background-image: image-set(
      ("/images/booking/hero-bg-desktop.jpg" 1x),
      ("/images/booking/hero-bg-desktop@2x.jpg" 2x)
    );

    max-height: 100vh;
  }
}

/// HOMEPAGE ////
.header {
  background-image: image-set(
    ("/images/homepage/hero-bg-mobile.jpg" 1x),
    ("/images/homepage/hero-bg-mobile@2x.jpg" 2x)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -20px;
  min-height: calc(100vh + 40px);

  @include mq(medium) {
    background-image: image-set(
      ("/images/homepage/hero-bg-tablet.jpg" 1x),
      ("/images/homepage/hero-bg-tablet@2x.jpg" 2x)
    );
    min-height: 100vh;
  }

  @include mq(large) {
    background-image: image-set(
      ("/images/homepage/hero-bg-desktop.jpg" 1x),
      ("/images/homepage/hero-bg-desktop@2x.jpg" 2x)
    );
    background-position: right;
    background-size: cover;
  }

  &__button {
    margin-bottom: 15rem; // stop image overlapping on Brave browser
    @include mq(medium) {
      margin-top: 52px;
    }
  }

  &__logo {
    margin: 0 auto;

    @include mq(medium) {
      margin-bottom: 2rem;
    }

    @include mq(large) {
      margin: 0;
      margin-bottom: 153px;
    }
  }

  &__logo.res {
    @include mq(medium) {
      padding: 4rem;
      margin: 0;
    }

    @include mq(large) {
      padding: 0;
    }
  }

  &__heading {
    font-weight: $fw-400;

    @include mq(medium) {
      font-size: fs(800);
      line-height: 64px;
      margin: 0;
      margin-bottom: 12px;
    }

    @include mq(large) {
      font-size: 80px;
      line-height: 80px;
      margin-bottom: 1rem;
    }
  }

  &__heading.res {
    @include mq(large) {
      margin-top: 10rem;
    }
  }

  &__description {
    margin-bottom: 56px;
    @include mq(medium) {
      max-width: 573px;
      margin: 0 auto;
    }

    @include mq(large) {
      margin: 0;
      max-width: 428px;
    }
  }

  &__description.res {
    @include mq(medium) {
      max-width: 490px;
      margin: 0 auto;
      margin-bottom: 19px;
      font-size: 20px;
    }

    @include mq(large) {
      margin: 0;
    }
  }

  &__content {
    padding: 14rem 1.5rem 0 1.5rem;
    text-align: center;

    @include mq(medium) {
      padding: 25rem 1.5rem 0 1.5rem;
    }

    @include mq(large) {
      text-align: left;
      padding: 15rem 1.5rem 0 7rem;
      max-width: 1450px;
      margin: 0 auto;
      padding: 8rem 1.5rem 0 2rem;
    }
  }

  &__content.res {
    padding: 7rem 1.5rem 0 1.5rem;
    @include mq(medium) {
      padding: 0;
    }

    @include mq(large) {
      padding: 5rem 10rem;
    }
  }
}
