@use "../abstracts/" as *;

.highlights {
    background-color: $color-cod-gray;
    
    
    &__content {
      padding: 7rem 1rem 3rem 1rem;
      color: $color-white;
      text-align: center;
    }
    
    &__menu-images {
      margin-top: 85px;
    }
  
    &__dish-title {
      font-size: 20px;
      margin-bottom: 6px;
    }
  
    &__img {     
      margin: 0 auto 36px auto;
    }
  
    &__menu-item {
      
      padding-bottom: 54px;
      
    }
  
    &__menu-item:not(:last-of-type) {
      margin-bottom: 20px;
      border-bottom: 1px solid hsl(0, 0%, 20%)
    }
  
    
  }