@use "../abstracts/" as *;

.highlights {
  background-color: $color-cod-gray;
  position: relative;
  z-index: 1000;

  &__heading {
    @include mq(medium) {
      max-width: 513.6px;
      margin: 0 auto;
      @include mq(medium) {
        margin-bottom: 27px;
      }
    }
  }

  &__content {
    padding: 8rem 1rem 3rem 1rem;
    color: $color-white;
    text-align: center;
    position: relative;
  }

  &__content-text {
    @include mq(medium) {
      // padding: 0 1rem 3rem 1rem;
      text-align: left;
      &::before {
        content: "";
        background: url(/images/patterns/pattern-divide.svg);
        position: absolute;
        width: 71px;
        height: 7px;
        top: 44.5px;
        left: -393.5px;
        z-index: -1;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  &__sub-description {
    font-size: 16px;

    @include mq(medium) {
      font-size: 20px;
      max-width: 457px;
      margin: 0 auto;
    }
  }

  &__description {
    font-size: 16px;
  }

  &__menu-images {
    margin-top: 85px;
  }

  &__dish-title {
    font-size: 20px;
    margin-bottom: 6px;
  }

  &__img {
    margin: 0 auto 36px auto;
    @include mq(medium) {
      margin: 0 auto 0 auto;
      align-items: center;
    }
  }

  &__menu-item {
    padding-bottom: 54px;

    @include mq(medium) {
      display: flex;
      justify-items: center;
      justify-content: center;
      text-align: left;
      gap: 43px;
      padding: 33.8px;
      position: relative;
    }
  }

  &__menu-item:not(:last-of-type) {
    margin-bottom: 20px;
    border-bottom: 1px solid hsl(0, 0%, 20%);
    @include mq(medium) {
      margin-bottom: 0;
    }
  }
}
