@use "./abstracts/index" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; 
}

h1 {
  color: $color-primary-brown;
}

p {
  color: $color-secondary-100;
}