@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: 0;
  letter-spacing: 2.5px;
  font-weight: $fw-400;
  transition: 275ms ease;
  padding: 1.4em 2.5em;

  

  &[data-type="dark"] {
    background-color: transparent;
    color: $color-white;
    border: 1px solid white;

     &:is(:hover, :focus) {
    background: $color-white;
    color: #000;
    
  }
  }

  &[data-type="light"] {
    background-color: black;
    color: $color-white;
    border: 1px solid black;

    &:is(:hover, :focus) {
      background: white;
      color: #000;
      
    }
  }

  // &[data-type="outline"] {
  //   --outline-size: 5px;
  //   background: transparent;
  //   outline: var(--outline-size) #000;
  //   outline-offset: calc(var(--outline-size) * -1);
  //   color: $color-white;
  // }

 
}

.btn-inactive.light{

}

.btn-inactive.dark{
  
}