@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(400);
  color: $color-white;
  line-height: 1.5;
  
}

h2 {
  line-height: 48px;
  font-size: 48px;
  font-weight: $fw-700;
  letter-spacing: 0.5px;
}



.reservation {
  background-image: image-set(
    ('/images/homepage/ready-bg-mobile.jpg' 1x),
    ('/images/homepage/ready-bg-mobile@2x.jpg' 2x));
  background-repeat: no-repeat;
  background-size: cover;
 

  @include mq(medium) {
    background-image: image-set(
      ('/images/homepage/ready-bg-tablet.jpg' 1x),
      ('/images/homepage/ready-bg-tablet@2x.jpg' 2x));

  }

  @include mq(large) {
    background-image: image-set(
      ('/images/homepage/ready-bg-desktop.jpg' 1x),
      ('/images/homepage/ready-bg-desktop@2x.jpg' 2x));

  }

  &__content {
    padding: 4.5rem 3.5rem;
    color: $color-white
  }
}




// ABOUT + HIGHLIGHTS + EVENTS SECTION GENERAL STYLING

.about,.highlights {
  &__heading::before{
    content:"";
    background: url(/images/patterns/pattern-divide.svg);
    position: absolute;
    width: 71px;
    height: 7px;
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.about,.highlights,.events,.reservation{
  color: clr(secondary,100);
  padding: 0 1rem 1rem 1rem;

  &__text-content {
    text-align: center;
  }


  &__heading{
    font-size: 32px;
    line-height: 40px;
    position: relative;
    margin-bottom: 13px;
    
    
    
  }
  
}

// br {
//   display: none;
// }


  



