@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(400);
  color: $color-white;
  line-height: 1.5;
  
}
// HEADINGS

h2 {
  line-height: 48px;
  font-size: 48px;
  font-weight: $fw-700;
  letter-spacing: 0.5px;
}

// br {
//   display: none;
// }

// HEADER

.header{
  background-image: url('/images/homepage/hero-bg-mobile@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -20px;
  min-height: calc(100vh + 40px);
  
  

  &__logo {
    margin: 0 auto;
  }


  &__heading {
    font-weight: $fw-400;
    line-height: 40px;
    
   
    
  }

  &__description {
    margin-bottom: 56px;
  }

  &__content {
    padding: 14rem 1.5rem 0 1.5rem;
    text-align: center;
  }
  
}


// ABOUT SECTION

.about {
  color: clr(secondary,100);
  margin-top: -120px;
  padding: 0 1rem 5rem 1rem;

  &__top-section,
  &__bottom-section {
    margin-bottom: 101px;
  }



  &__content {
    
    text-align: center;
  }

  &__text-content {
    text-align: center;
  }

  &__heading{
    font-size: 32px;
    line-height: 40px;
    position: relative;
    margin-bottom: 13px;
    

    &::before{
      content:"";
      background: url(/images/patterns/pattern-divide.svg);
      position: absolute;
      width: 71px;
      height: 7px;
      top: -30px;
      left: 0;
      right: 0;
      margin: 0 auto;
}
    
    
  }

  &__img {
    
    // margin: 0 auto;
    margin-bottom: 88px;
    margin: 0 auto 88px auto;
    // visibility: hidden;
  }
}