// COLORS
$color-primary-black: #111;
$color-primary-brown: #9e7f66;

$color-secondary-300: #17192b;
$color-secondary-200: #242b37;
$color-secondary-100: #5c6779;

// FONT SIZE
$fs-80: 5rem;
$fs-48: 3rem;
$fs-20: 1.25rem;
$fs-17: 1.063rem;
$fs-16: 1rem;

// FONT WEIGHT
$fw-300: 300;
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

// LINE SPACING
$line-space-80: 5rem;
$line-space-48: 3rem;
$line-space-30: 1.875rem;
$line-space-28: 1.75rem;
$line-space-26: 1.625rem;
$line-space-24: 1.5rem;
$line-space-20: 1.25rem;



